<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h3>Product Details:</h3>
    </div>
    <div class="card col-6 offset-3 show-card">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">
          <b>Item Name:</b> <%= listing.productType %>
          <br />
          <b>Price Per Unit:</b> &#8377; <%= listing.pricePerKg %>
          <br />
          <b>Region:</b> <%= listing.farmLocation %>
          <b>Product Quantity:</b> <%= listing.productQuantity %>
          <br />
          <b>Contact Number:</b> <%=listing.contactNumber %>
        </p>
      </div>
      <div class="btns">
        <a href="" class="btn btn-dark col-1 offset-3 add-btn"> Buy </a>
        <form method="post">
          <button class="btn btn-dark offset-5">Not Interested</button>
        </form>
      </div>
    </div>
  </div>
</body>
