<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h3>Product Details:</h3>
    </div>
    <div class="card col-6 offset-3 show-card">
      <img
        src="<%= item.image %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">
          <b>Seller: </b><%= item.owner.name  %>
          <b>Item Name:</b> <%= item.title %>
          <br />
          <p><%= item.description %></p>
          <br>
          <b>Price Per Unit:</b> &#8377; <%= item.pricePerKg %>
          <br />
          <b>Region:</b> <%= item.location %> <b>Product Quantity:</b> <%=
          item.productQuantity %>
          <br />
          <b>Contact:</b> <%= item.contactDetail %>
          <b>Minimum Order Quantity :</b><%= item.minOrder %>
        </p>
      </div>
      <div class="btns">
        <a href="" class="btn btn-dark col-1 offset-3 add-btn"> Buy </a>
        <form method="post">
          <button class="btn btn-dark offset-5">Not Interested</button>
        </form>
      </div>
    </div>
  </div>
</body>
