<% layout("/layouts/boilerplate") %>
<body>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 class="text-center">Scheme Details: 📃</h3>
        <div class="card mb-4">
          <img
            src="<%= scheme.image %>"
            class="card-img-top show-img"
            alt="listing_image"
          />
          <div class="card-body">
            <p class="card-text">
              <b><%= scheme.schemeName.en %> | <%=scheme.schemeName.hi %></b>
              <br />
              <b>Description:</b> <%= scheme.description.en %>
              <br />
              <%=scheme.description.hi %>
              <br />
              <b>Organization:</b> <%= scheme.organization %>
              <br />
              <b>Contact info:</b> <%= scheme.contactInfo %>
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <a href="/listing/<%= scheme.id %>/edit" class="btn btn-dark">
            Apply
          </a>
          <form action="/listing/<%= scheme.id %>?_method=DELETE" method="post">
            <button class="btn btn-dark">Not interested</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
