<% layout("/layouts/boilerplate") %>
<body>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 class="text-center">Listing Details: 🌿</h3>
        <div class="card mb-4">
          <img
            src="<%= sell.image.url %>"
            class="card-img-top show-img"
            alt="listing_image"
          />
          <div class="card-body">
            <p class="card-text">
              <br />
              <b>Item Name:</b> <%= sell.title.en %> | <%=sell.title.hi %>
              <br />
              <p><%= sell.description.en%></p>
              <br>
              <p><%=sell.description.hi %></p>
              <br />
              <b>Price Per Unit:</b> &#8377; <%= sell.pricePerUnit %>
              <br />
              <b>Product Location:</b> <%= sell.location %>
              <br />
              <b>Product Quantity:</b> <%= sell.productQuantity %>
              <br />
              <b>Contact:</b> <%= sell.contactDetail %>
              <br />
              <b>Minimum Order Quantity:</b> <%= sell.minOrder %>
            </p>
          </div>
          <% if(currUser && currUser._id.equals(sell.owner._id)) { %>
          <div class="d-flex justify-content-between mb-3">
            <a href="/sells/<%= sell.id %>/edit" class="btn btn-dark">Edit</a>
            <form action="/sells/<%= sell.id %>?_method=DELETE" method="post">
              <button class="btn btn-dark">Delete</button>
            </form>
          </div>
          <% } %>
        </div>
        <hr />
        <div class="mb-3">
          <% if(currUser) { %>
          <h4>Leave a Review</h4>
          <form
            action="/sells/<%= sell.id %>/reviews"
            method="POST"
            novalidate
            class="needs-validation"
            onsubmit="validateForm(event)"
          >
            <div class="mb-3 mt-3">
              <label for="rating" class="form-label">Rating</label>
              <fieldset class="starability-slot">
                <input
                  type="radio"
                  id="no-rate"
                  class="input-no-rate"
                  name="review[rating]"
                  value="1"
                  checked
                  aria-label="No rating."
                />
                <input
                  type="radio"
                  id="first-rate1"
                  name="review[rating]"
                  value="1"
                />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input
                  type="radio"
                  id="first-rate2"
                  name="review[rating]"
                  value="2"
                />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input
                  type="radio"
                  id="first-rate3"
                  name="review[rating]"
                  value="3"
                />
                <label for="first-rate3" title="Average">3 stars</label>
                <input
                  type="radio"
                  id="first-rate4"
                  name="review[rating]"
                  value="4"
                />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input
                  type="radio"
                  id="first-rate5"
                  name="review[rating]"
                  value="5"
                />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <div class="mb-3 mt-3">
              <label for="comments" class="form-label">Comments</label>
              <textarea
                name="review[comment]"
                id="comment"
                cols="30"
                rows="4"
                class="form-control"
                required
              ></textarea>
              <div class="invalid-feedback">Please Add Some Comments.</div>
            </div>
            <button class="btn btn-outline-dark" formnovalidate>Submit</button>
          </form>
          <% } %>
          <hr />
          <p><b>All Reviews</b></p>
          <div class="row">
            <% for(review of sell.reviews){ %>
            <div class="card col-5 ms-3 mb-3">
              <div class="card-body">
                <p class="card-title"><i>@<%= review.author.username %></i></p>
                <p class="starability-result" data-rating="<%= review.rating %>"></p>
                <p class="card-text"><%= review.comment %></p>
              </div>
              <form
                method="POST"
                action="/sells/<%= sell._id %>/reviews/<%= review._id %>?_method=DELETE"
                class="mb-3"
              >
                <button class="btn btn-sm btn-dark">Delete</button>
              </form>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>